.azdo/
.devcontainer/
.github/
.vscode/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
*.swp
*.swo
node_modules/
democlient/node_modules/
democlient/build/
media/
notebooks/
scripts/uploads/
tests/tmp/
.mypy_cache/
.pytest_cache/
env/
.env
src/.env
azure.yaml
